{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Stadorm - Community Living Experience</title>



    <meta property="og:site_name" content="Stadorm">
    <meta property="og:url" content="https://stadorm.com/">
    <meta property="og:title" content="Stadorm - Community Living Experience">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An Affordable Co-Living Space for Students & Working Professionals.">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description " content="An Affordable Co-Living Space for Students & Working Professionals.">



    <link rel="shortcut icon "
        href="//cdn.shopify.com/s/files/1/0535/7273/1054/files/Favicon_0ea95c51-56ad-4940-ab13-5586340b333c_32x32.png?v=1621577330 "
        type="image/png " />
    <link rel="preconnect " href="https://fonts.gstatic.com ">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=block "
        rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=block " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=block " rel="stylesheet ">
    <link rel="stylesheet " type="text/css " href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css " />
    <link rel="stylesheet " type="text/css "
        href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css " />
    <link rel="stylesheet "
        href="{%  static  '/css/app.css'  %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-361370544 "></script>
    
</head>

<body>
    
        <!--ajax cart overlay-->
        <div class="ajax-cart__overlay js-ajax-cart-overlay"></div>
        <!--end ajax cart overlay-->
    
  <div id="shopify-section-header" class="shopify-section"><header class="header">
    
    <nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__start">
                <div class="navbar__item navbar__item--icons is-hidden-desktop">
                    <div class="navbar-burger-menu__icon js-navbar-burger-trigger">
    <span></span>
    <span></span>
    <span></span>
</div>
                </div>
                <div class="navbar__menu"><a class="navbar__item " href="/rooms" alt="Rooms">Rooms</a>
                    <a class="navbar__item " href="/pages/mission" alt="About Us">About Us</a></div>
            </div>
            <div class="navbar__brand">
                
<a class="navbar__logo" href="/">
    <img src="/static/media/png.png" alt="Stadorm"/>
</a>

            </div>
            <div class="navbar__end">
                <a class='navbar__item is-hidden-mobile' href="/subscription">Food Subscription</a>
                <a class='navbar__item is-hidden-mobile' href="/">Sign in</a>
            </div>
    </div>
</nav>
<div class="navbar-burger-menu">
    <div class="navbar-burger-menu__content">
        <div class="account-banner">
    <a href="/" class="account-banner__signin ">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="#6671c2" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0C5.38702 0 0 5.38702 0 12C0 18.613 5.38702 24 12 24C18.613 24 24 18.613 24 12C24 5.38702 18.613 0 12 0ZM12 1.84615C17.6178 1.84615 22.1538 6.38221 22.1538 12C22.1538 14.4736 21.274 16.7308 19.8173 18.4904C19.024 16.2404 17.3077 14.4303 15.1154 13.5361C16.0313 12.6923 16.6154 11.488 16.6154 10.1538C16.6154 7.61538 14.5385 5.53846 12 5.53846C9.46154 5.53846 7.38462 7.61538 7.38462 10.1538C7.38462 11.488 7.96875 12.6923 8.88462 13.5361C6.69231 14.4303 4.98317 16.2404 4.1899 18.4904C2.72596 16.7308 1.84615 14.4736 1.84615 12C1.84615 6.38221 6.38221 1.84615 12 1.84615ZM12 7.38462C13.5433 7.38462 14.7692 8.61058 14.7692 10.1538C14.7692 11.6971 13.5433 12.9231 12 12.9231C10.4567 12.9231 9.23077 11.6971 9.23077 10.1538C9.23077 8.61058 10.4567 7.38462 12 7.38462ZM12 14.7692C15.137 14.7692 17.7115 16.9976 18.3101 19.9543C16.5721 21.3317 14.387 22.1538 12 22.1538C9.61298 22.1538 7.42789 21.3317 5.69712 19.9543C6.28846 16.9976 8.86298 14.7692 12 14.7692Z"/>
        </svg>
        <span>
            
                Sign In
            
        </span>
    </a>
    <a href="signup" class="account-banner__register ">Create Account</a>
</div>

        <div class="navbar-burger-divider"></div>
        <div class="navbar-burger-menu__container">
            <div class="navbar-burger-list"><a class="navbar-burger-list__item" href="/rooms.html" alt="Rooms">Find Room</a>
                
                    <div class="navbar-burger-divider"></div>
                
<a class="navbar-burger-list__item" href="/subscription" alt="Subscription">Food Subscription</a>
                
<div class="navbar-burger-divider"></div>
            </div>
        </div>
    </div>
</div>
</header>
</div>
  <div data-scroll-container>
    <main class="main" role="main">

    {% if messages %}
    {% for message in messages %}
      {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
        
    {% endif%}
    
        <section class="login-page">
    <div class="container">
        <div class="login-form-wrapper" data-login-form>
            <div class="login-page__columns">
                <div class="login-page__column">
                    <div class="login-page__form">
                        <h2 class="login-page__title">Sign In</h2>
                        <p class="login-page__desc">Login below to manage your Booking or Subscriptions</p>
                        <form method="post" action="/" id="customer_login" accept-charset="UTF-8"><input type="hidden" name="form_type" value="customer_login" /><input type="hidden" name="utf8" value="✓" />
                        {% csrf_token %}
                        <div class="success-box hide" data-reset-success>
                            We&#39;ve sent you an email with a link to update your password.
                        </div>
                        
                        <fieldset class="field">
                            <label class="field__label" for="customer_email">Email Address</label>
                            <input class="field__input" type="email" id="customer_email" name="customer[email]" autocomplete="off" required="" />
                        </fieldset>
                        <fieldset class="field">
                            <label class="field__label" for="customer_password">Password</label>
                            <input class="field__input" type="password" id="customer_password" name="customer[password]" autocomplete="off" required="" />
                            <!--<a href="#recover" class="login-page__link js-recover-password-trigger" data-recover-toggle>Forgot Password?</a>-->
                        </fieldset>
                        <button class="button" type="submit" value="Sign In" />Sign In</button>
                        </form>
                    </div>
                    


                </div>
                <div class="login-page__divider"></div>
                <div class="login-page__column login-page__column--signup">
                    <h2 class="login-page__title">Sign Up</h2>
                    <p class="login-page__desc">Create an account to manage your Booking or subscriptions by clicking below.</p>
                    <a href="signup" class="button button--invert">Create Account</a>
                </div>
            </div>
        </div>
        <div class="recover-password-form-wrapper recover-password-form-wrapper--disabled" data-recover-form>
            <div class="recover-password-page__container">
                <div class="recover-password-page__form">
                    <h2 class="recover-password-page__title">Recover Password</h2>
                    <p class="recover-password-page__desc">We will send you an email to reset your password.</p>
                    <form method="post" action="/account/recover" accept-charset="UTF-8"><input type="hidden" name="form_type" value="recover_customer_password" /><input type="hidden" name="utf8" value="✓" />
                        
                        <fieldset class="field">
                            <label class="field__label" for="customer_email">Email Address</label>
                            <input class="field__input" type="email" name="email" />
                        </fieldset>
                        
                        <button class="recover-password-form__button button" type="submit" value="Recover Password" />Recover Password</button>
                    </form>
                </div>
                <a class="recover-password-page__link" data-recover-toggle>Cancel</a>
            </div>
        </div>
    </div>
</section>


<div id="shopify-section-guarantee" class="shopify-section">
    <div class="global-note">
        <div class="global-note__container gradient">
            <div class="global-note__grid">
                <div class="global-note__grid-item">
                    <div>
                        <div class="global-note__subtitle global-note__subtitle--bold">Schedule a free visit,</div>
                        <div class="global-note__subtitle"> Book only if you like it,</div>
                    </div>
                </div>
                <div class="global-note__divider"></div>
                <div class="global-note__grid-item">
                    <div>
                        <div class="global-note__title">Community Living Experience</div>
                    </div>
                </div>
                <div class="global-note__divider"></div>
                <div class="global-note__grid-item">
                    <div>
                        <div class="global-note__subtitle global-note__subtitle--bold">3 days cancellation policy,</div>
                        <div class="global-note__subtitle">No questions asked.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .gradient {
            background: linear-gradient(45deg, #fff6f1, #eef7ff, #fff2f1, #fff6f1, #eef7ff, #fff2f1);
            background-size: 600% 600%;
            -webkit-animation: backgroundfade 12s ease infinite;
            -moz-animation: backgroundfade 12s ease infinite;
            animation: backgroundfade 12s ease infinite;
            animation-direction: alternate;
        }

        @-webkit-keyframes backgroundfade {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @-moz-keyframes backgroundfade {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @keyframes backgroundfade {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }
    </style>
</div>
</main>
<div id="shopify-section-footer" class="shopify-section">
<footer class="footer">
    <div class="footer__container">
        <div class="footer__grid">
            <div class="footer__column footer__column--info">
                <div class="footer-info">
                    <img loading="lazy" class="lazyload footer-info__logo"
                        data-src="/static/media/png.png"
                        alt="Footer Logo" />
                    <p class="footer-info__desc">Stadorm</p>
                    <div class="footer-info__social-logos">
                        <a class="footer-info__social-logo" href="https://instagram.com/joinstadorm"
                            target="_blank" rel="noopener" aria-label="Instagram">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.64423 0C2.08654 0 0 2.08654 0 4.64423V11.3558C0 13.9135 2.08654 16 4.64423 16H11.3558C13.9135 16 16 13.9135 16 11.3558V4.64423C16 2.08654 13.9135 0 11.3558 0H4.64423ZM4.64423 1.23077H11.3558C13.2476 1.23077 14.7692 2.75 14.7692 4.64423V11.3558C14.7692 13.2476 13.25 14.7692 11.3558 14.7692H4.64423C2.7524 14.7692 1.23077 13.25 1.23077 11.3558V4.64423C1.23077 2.7524 2.75 1.23077 4.64423 1.23077ZM12.6154 2.46154C12.1058 2.46154 11.6923 2.875 11.6923 3.38462C11.6923 3.89423 12.1058 4.30769 12.6154 4.30769C13.125 4.30769 13.5385 3.89423 13.5385 3.38462C13.5385 2.875 13.125 2.46154 12.6154 2.46154ZM8 3.69231C5.6274 3.69231 3.69231 5.6274 3.69231 8C3.69231 10.3726 5.6274 12.3077 8 12.3077C10.3726 12.3077 12.3077 10.3726 12.3077 8C12.3077 5.6274 10.3726 3.69231 8 3.69231ZM8 4.92308C9.70673 4.92308 11.0769 6.29327 11.0769 8C11.0769 9.70673 9.70673 11.0769 8 11.0769C6.29327 11.0769 4.92308 9.70673 4.92308 8C4.92308 6.29327 6.29327 4.92308 8 4.92308Z"
                                    fill="#262626" />
                            </svg>
                        </a>
                        <a class="footer-info__social-logo" href="https://facebook.com/stadorm"
                            target="_blank" rel="noopener" aria-label="Facebook">
                            <svg width="8" height="16" viewBox="0 0 8 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8 5.60003H5.32067V4.00004C5.32067 3.17444 5.38451 2.65444 6.50869 2.65444H7.92855V0.11045C7.23762 0.0352499 6.5429 -0.00155 5.84741 4.99998e-05C3.78527 4.99998e-05 2.28029 1.32565 2.28029 3.75924V5.60003H0V8.80002L2.28029 8.79922V16H5.32067V8.79762L7.65112 8.79682L8 5.60003Z"
                                    fill="#262626" />
                            </svg>
                        </a>
                    </div>
                    <div class="footer-info__email">
                        <p class="footer-info__email-title">Need Help?</p>
                        <a class="footer-info__email-link"
                            href="mailto:hello@stadorm.com">hello@stadorm.com</a>
                    </div>
                </div>
            </div>
            <div class="footer__column footer__column--nav">
                <div class="footer__nav">
                    <div class="footer-menu">
                        <div class="footer-links">
                            <div class="footer-links__title">Careers</div>
                            <a href="#" class="footer-links__item">Full Time Job</a>
                            <a href="#" class="footer-links__item">Internships</a>
                            <a href="#" class="footer-links__item">Work From Home</a>
                        </div>
                        <div class="footer-links">
                            <div class="footer-links__title">Company</div>
                            <a href="#" class="footer-links__item">About Us</a>
                            <a href="#" class="footer-links__item">Subscribe</a>
                            <a href="#" class="footer-links__item">Affiliates</a>
                            <a href="#" class="footer-links__item">FAQ's</a>
                        </div>
                    </div>
                    <div class="footer-accordions">
                        <div class="footer-accordions__item">
                            <div class="footer-accordions__tab" aria-expanded="false">
                                <div class="footer-accordions__tab-title">Careers</div>
                                <span class="footer-accordions__tab-icon" aria-hidden="true"></span>
                            </div>
                            <div class="footer-accordions__content">
                                <div class="footer-accordions__links"><a href="#"
                                        class="footer-links__item">Full Time Job</a><a
                                        href="#" class="footer-links__item">Internships</a><a href="#"
                                        class="footer-links__item">Work From Home</a></div>
                            </div>
                        </div>
                        <div class="footer-accordions__item">
                            <div class="footer-accordions__tab" aria-expanded="false">
                                <div class="footer-accordions__tab-title">Company</div>
                                <span class="footer-accordions__tab-icon" aria-hidden="true"></span>
                            </div>
                            <div class="footer-accordions__content">
                                <div class="footer-accordions__links"><a href="#"
                                        class="footer-links__item">About Us</a><a href="/subscription.html"
                                        class="footer-links__item">Subscribe</a><a href="/careers.html"
                                        class="footer-links__item">Affiliates</a><a href="faq.html"
                                        class="footer-links__item">FAQ's</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__column footer__column--newsletter">

                <div class="newsletter">
                    <div class="newsletter__titles">
                        <h2 class="newsletter__title">Get 15% off on your booking!</h2>
                        <p class="newsletter__subtitle">Sign up to our newsletter and get a chance to win
                            15% off on your booking.</h2>
                        <div>
                            <form id="email_signup" class="newsletter-form"
                                action="#" method="GET"
                                target="_blank" novalidate="novalidate">
                                <input type="hidden" name="g" value="RLeEEn">
                                <input type="hidden" name="$fields" value="email">
                                <input type="hidden" name="$list_fields" value="web">
                                <div class="newsletter-form__field">
                                    <input class="newsletter-form__input" type="email" value="" name="email"
                                        id="k_id_email" placeholder="Enter Your Email Here" />
                                    <button type="submit" class="newsletter-form__button">
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.9199 0L11.0398 0.990991L13.728 4.29054H0V5.73198H13.704L11.0398 9.00901L11.9199 10L16 5L11.9199 0Z"
                                                fill="#262626" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="newsletter-form__messages">
                                    <div class="newsletter-form__success-message" style="display:none;">
                                        <p class="newsletter-form__thankyou">Thank you for signing up! 🙏
                                        </p>
                                    </div>
                                    <div class="newsletter-form__error-message" style="display:none;"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyrights">
            <div class="footer-copyrights__claim-wrapper">
                <p class="footer-copyrights__claim">*All pictures are shown for illustration purpose only, actual product may vary due to product enhancement.</p>
            </div>
        </div>
        <div class="footer-copyrights__columns">
            <div class="footer-copyrights__company">© Stadorm, 2021. All Rights Reserved.</div>
            <div class="footer-copyrights__legals">
                <a class="footer-copyrights__legal" href="#">Terms of Use</a>
                <a class="footer-copyrights__legal" href="#">Privacy Policy</a>
                <a class="footer-copyrights__legal" href="#">Refund Policy</a>
                <a class="footer-copyrights__legal" href="#">Subscription Policy</a>
            </div>
        </div>
    </div>
</div>
</footer>
</div>
</div>
<script src="{%  static  '/js/main.js'  %}" defer></script>
</body>
</html>