{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Stadorm - Community Living Experience</title>



    <meta property="og:site_name" content="Stadorm">
    <meta property="og:url" content="https://stadorm.com/">
    <meta property="og:title" content="Stadorm - Community Living Experience">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An Affordable Co-Living Space for Students & Working Professionals.">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description " content="An Affordable Co-Living Space for Students & Working Professionals.">



    <link rel="shortcut icon "
        href="//cdn.shopify.com/s/files/1/0535/7273/1054/files/Favicon_0ea95c51-56ad-4940-ab13-5586340b333c_32x32.png?v=1621577330 "
        type="image/png " />
    <link rel="preconnect " href="https://fonts.gstatic.com ">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=block "
        rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=block " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=block " rel="stylesheet ">
    <link rel="stylesheet " type="text/css " href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css " />
    <link rel="stylesheet " type="text/css "
        href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css " />
    <link rel="stylesheet "
        href="{%  static  '/css/app.css'  %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-361370544 "></script>
    
</head>

<body>
    
        <!--ajax cart overlay-->
        <div class="ajax-cart__overlay js-ajax-cart-overlay"></div>
        <!--end ajax cart overlay-->
    
  <div id="shopify-section-header" class="shopify-section"><header class="header">
    
    <nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__start">
                <div class="navbar__item navbar__item--icons is-hidden-desktop">
                    <div class="navbar-burger-menu__icon js-navbar-burger-trigger">
    <span></span>
    <span></span>
    <span></span>
</div>
                </div>
                <div class="navbar__menu"><a class="navbar__item " href="/collections/all" alt="Shop">Shop</a><a class="navbar__item " href="/pages/patch" alt="Our Patch">Our Patch</a><a class="navbar__item " href="/pages/mission" alt="About Us">About Us</a></div>
            </div>
            <div class="navbar__brand">
                
<a class="navbar__logo" href="/">
    <img src="/static/media/png.png" alt="Stadorm"/>
</a>

            </div>
            <div class="navbar__end">
                <a class='navbar__item is-hidden-mobile' href="/pages/subscribe">Subscription</a>
                
                
                <a class='navbar__item is-hidden-mobile' href="/">Sign in</a>
                
                
                <div class='navbar__item navbar__item--icons'>
                <div class='cart-icon' data-cart-toggle>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="#262626" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 0C8.70356 0 6.00079 2.49519 6.00079 5.53846H2.00131C1.47013 5.53846 1.03269 5.92067 1.00144 6.41106L0.0015715 23.0264C-0.0140505 23.2788 0.0874982 23.5312 0.274974 23.7115C0.462449 23.899 0.728038 24 1.00144 24H22.9986C23.272 24 23.5376 23.899 23.725 23.7115C23.9125 23.5312 24.0141 23.2788 23.9984 23.0264L22.9986 6.41106C22.9673 5.92067 22.5299 5.53846 21.9987 5.53846H17.9992C17.9992 2.49519 15.2964 0 12 0ZM12 1.84615C14.2028 1.84615 15.9995 3.50481 15.9995 5.53846H8.00052C8.00052 3.50481 9.79716 1.84615 12 1.84615ZM2.9465 7.38462H6.00079V11.0769H8.00052V7.38462H15.9995V11.0769H17.9992V7.38462H21.0535L21.9362 22.1538H2.0638L2.9465 7.38462Z"/>
    </svg>
    <div class='cart-icon__dot'>
        <span class="cart-icon__text" data-cart-counter></span>
    </div>
</div>
                </div>
            </div>
    </div>
</nav>
<div class="navbar-burger-menu">
    <div class="navbar-burger-menu__content">
        <div class="account-banner">
    <a href="/" class="account-banner__signin ">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="#6671c2" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0C5.38702 0 0 5.38702 0 12C0 18.613 5.38702 24 12 24C18.613 24 24 18.613 24 12C24 5.38702 18.613 0 12 0ZM12 1.84615C17.6178 1.84615 22.1538 6.38221 22.1538 12C22.1538 14.4736 21.274 16.7308 19.8173 18.4904C19.024 16.2404 17.3077 14.4303 15.1154 13.5361C16.0313 12.6923 16.6154 11.488 16.6154 10.1538C16.6154 7.61538 14.5385 5.53846 12 5.53846C9.46154 5.53846 7.38462 7.61538 7.38462 10.1538C7.38462 11.488 7.96875 12.6923 8.88462 13.5361C6.69231 14.4303 4.98317 16.2404 4.1899 18.4904C2.72596 16.7308 1.84615 14.4736 1.84615 12C1.84615 6.38221 6.38221 1.84615 12 1.84615ZM12 7.38462C13.5433 7.38462 14.7692 8.61058 14.7692 10.1538C14.7692 11.6971 13.5433 12.9231 12 12.9231C10.4567 12.9231 9.23077 11.6971 9.23077 10.1538C9.23077 8.61058 10.4567 7.38462 12 7.38462ZM12 14.7692C15.137 14.7692 17.7115 16.9976 18.3101 19.9543C16.5721 21.3317 14.387 22.1538 12 22.1538C9.61298 22.1538 7.42789 21.3317 5.69712 19.9543C6.28846 16.9976 8.86298 14.7692 12 14.7692Z"/>
        </svg>
        <span>
            
                Sign In
            
        </span>
    </a>
    <a href="signup" class="account-banner__register ">Create Account</a>
</div>

        <div class="navbar-burger-divider"></div>
        <div class="navbar-burger-menu__container">
            <div class="navbar-burger-list"><a class="navbar-burger-list__item" href="/collections/all" alt="Shop All">Shop All</a>
                
                    <div class="navbar-burger-divider"></div>
                
<a class="navbar-burger-list__item" href="/pages/patch" alt="Our Patch">Our Patch</a>
                
                    <div class="navbar-burger-divider"></div>
                
<a class="navbar-burger-list__item" href="/pages/mission" alt="About Us">About Us</a>
                
                    <div class="navbar-burger-divider"></div>
                
<a class="navbar-burger-list__item" href="/pages/subscribe" alt="Subscribe">Subscribe</a>
                
<div class="navbar-burger-divider"></div>
                <!--<a href="/collections/all" class="navbar-burger-list__item">Shop All</a>
                <a href="/pages/patch" class="navbar-burger-list__item">Patch</a>
                <div class="navbar-burger-divider"></div>
                <a href="/pages/mission" class="navbar-burger-list__item">Mission</a>
                <div class="navbar-burger-divider"></div>
                <a href="/pages/subscribe" class="navbar-burger-list__item">Subscribe</a>
                <div class="navbar-burger-divider"></div>-->
            </div>
        </div>
    </div>
</div>
</header>
</div>
  <div data-scroll-container>
    <main class="main" role="main">
        <div class="signup-page">
    <div class="container">
        <div class="signup-page__container">
                <div class="signup-page__form">
                    <h2 class="signup-page__title">Sign Up</h2>
                    <p class="signup-page__desc">Create an account to manage your orders or subscriptions. <br/><br/> If you've already made an order or started a subscription, simply use the email address attached to that order to connect it with your account.</p>
                    <form method="post" action="/account" id="create_customer" accept-charset="UTF-8"><input type="hidden" name="form_type" value="create_customer" /><input type="hidden" name="utf8" value="✓" />
                    
                    <div class="field-group">
                        <fieldset class="field">
                            <label class="field__label" for="first_name">First Name</label>
                            <input class="field__input" type="text" value="" name="customer[first_name]" size="30" />
                        </fieldset>
                        <fieldset class="field">
                            <label class="field__label" for="last_name">Last Name</label>
                            <input class="field__input" type="text" value="" name="customer[last_name]" size="30" />
                        </fieldset>
                    </div>
                    <fieldset class="field">
                        <label class="field__label" for="user_name">Username</label>
                        <input class="field__input" type="text" value="" name="customer[user_name]" size="30" />
                    </fieldset>
                    <fieldset class="field">
                        <label class="field__label" for="email">Email Address</label>
                        <input class="field__input" type="email" value="" name="customer[email]" size="30" />
                    </fieldset>
                    <fieldset class="field">
                        <label class="field__label" for="password">Password</label>
                        <input class="field__input" type="password" value="" name="customer[password]" size="30" />
                    </fieldset>
                    <button class="button" type="submit"/>Register</button>
                    </form>
                </div>
                <a class="signup-page__link" href="/">Already have an account? <span>Sign In</span></a>
            </div>
    </div>
</div>


<div id="shopify-section-guarantee" class="shopify-section">
    <div class="global-note">
        <div class="global-note__container gradient">
            <div class="global-note__grid">
                <div class="global-note__grid-item">
                    <div>
                        <div class="global-note__subtitle global-note__subtitle--bold">Schedule a free visit,</div>
                        <div class="global-note__subtitle"> Book only if you like it,</div>
                    </div>
                </div>
                <div class="global-note__divider"></div>
                <div class="global-note__grid-item">
                    <div>
                        <div class="global-note__title">Good vibes, guaranteed.</div>
                    </div>
                </div>
                <div class="global-note__divider"></div>
                <div class="global-note__grid-item">
                    <div>
                        <div class="global-note__subtitle global-note__subtitle--bold">3 days cancellation policy,</div>
                        <div class="global-note__subtitle">No questions asked.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .gradient {
            background: linear-gradient(45deg, #fff6f1, #eef7ff, #fff2f1, #fff6f1, #eef7ff, #fff2f1);
            background-size: 600% 600%;
            -webkit-animation: backgroundfade 12s ease infinite;
            -moz-animation: backgroundfade 12s ease infinite;
            animation: backgroundfade 12s ease infinite;
            animation-direction: alternate;
        }

        @-webkit-keyframes backgroundfade {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @-moz-keyframes backgroundfade {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @keyframes backgroundfade {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }
    </style>
</div>
</main>
<div id="shopify-section-footer" class="shopify-section">
<footer class="footer">
    <div class="footer__container">
        <div class="footer__grid">
            <div class="footer__column footer__column--info">
                <div class="footer-info">
                    <img loading="lazy" class="lazyload footer-info__logo"
                        data-src="/static/media/png.png"
                        alt="Vibrants Footer Logo" />
                    <p class="footer-info__desc">Community Living Experience</p>
                    <div class="footer-info__social-logos">
                        <a class="footer-info__social-logo" href="https://instagram.com/stadormlife"
                            target="_blank" rel="noopener" aria-label="Instagram">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.64423 0C2.08654 0 0 2.08654 0 4.64423V11.3558C0 13.9135 2.08654 16 4.64423 16H11.3558C13.9135 16 16 13.9135 16 11.3558V4.64423C16 2.08654 13.9135 0 11.3558 0H4.64423ZM4.64423 1.23077H11.3558C13.2476 1.23077 14.7692 2.75 14.7692 4.64423V11.3558C14.7692 13.2476 13.25 14.7692 11.3558 14.7692H4.64423C2.7524 14.7692 1.23077 13.25 1.23077 11.3558V4.64423C1.23077 2.7524 2.75 1.23077 4.64423 1.23077ZM12.6154 2.46154C12.1058 2.46154 11.6923 2.875 11.6923 3.38462C11.6923 3.89423 12.1058 4.30769 12.6154 4.30769C13.125 4.30769 13.5385 3.89423 13.5385 3.38462C13.5385 2.875 13.125 2.46154 12.6154 2.46154ZM8 3.69231C5.6274 3.69231 3.69231 5.6274 3.69231 8C3.69231 10.3726 5.6274 12.3077 8 12.3077C10.3726 12.3077 12.3077 10.3726 12.3077 8C12.3077 5.6274 10.3726 3.69231 8 3.69231ZM8 4.92308C9.70673 4.92308 11.0769 6.29327 11.0769 8C11.0769 9.70673 9.70673 11.0769 8 11.0769C6.29327 11.0769 4.92308 9.70673 4.92308 8C4.92308 6.29327 6.29327 4.92308 8 4.92308Z"
                                    fill="#262626" />
                            </svg>
                        </a>
                        <a class="footer-info__social-logo" href="https://facebook.com/stadorm"
                            target="_blank" rel="noopener" aria-label="Facebook">
                            <svg width="8" height="16" viewBox="0 0 8 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8 5.60003H5.32067V4.00004C5.32067 3.17444 5.38451 2.65444 6.50869 2.65444H7.92855V0.11045C7.23762 0.0352499 6.5429 -0.00155 5.84741 4.99998e-05C3.78527 4.99998e-05 2.28029 1.32565 2.28029 3.75924V5.60003H0V8.80002L2.28029 8.79922V16H5.32067V8.79762L7.65112 8.79682L8 5.60003Z"
                                    fill="#262626" />
                            </svg>
                        </a>
                    </div>
                    <div class="footer-info__email">
                        <p class="footer-info__email-title">Need Help?</p>
                        <a class="footer-info__email-link"
                            href="mailto:hello@stadorm.com">hello@stadorm.com</a>
                    </div>
                </div>
            </div>
            <div class="footer__column footer__column--nav">
                <div class="footer__nav">
                    <div class="footer-menu">
                        <div class="footer-links">
                            <div class="footer-links__title">Careers</div>
                            <a href="#" class="footer-links__item">Full Time Job</a>
                            <a href="#" class="footer-links__item">Internships</a>
                            <a href="#" class="footer-links__item">Work From Home</a>
                        </div>
                        <div class="footer-links">
                            <div class="footer-links__title">Company</div>
                            <a href="#" class="footer-links__item">About Us</a>
                            <a href="#" class="footer-links__item">Subscribe</a>
                            <a href="#" class="footer-links__item">Affiliates</a>
                            <a href="#" class="footer-links__item">FAQ's</a>
                        </div>
                    </div>
                    <div class="footer-accordions">
                        <div class="footer-accordions__item">
                            <div class="footer-accordions__tab" aria-expanded="false">
                                <div class="footer-accordions__tab-title">Careers</div>
                                <span class="footer-accordions__tab-icon" aria-hidden="true"></span>
                            </div>
                            <div class="footer-accordions__content">
                                <div class="footer-accordions__links"><a href="#"
                                        class="footer-links__item">Full Time Job</a><a
                                        href="#" class="footer-links__item">Internships</a><a href="#"
                                        class="footer-links__item">Work From Home</a></div>
                            </div>
                        </div>
                        <div class="footer-accordions__item">
                            <div class="footer-accordions__tab" aria-expanded="false">
                                <div class="footer-accordions__tab-title">Company</div>
                                <span class="footer-accordions__tab-icon" aria-hidden="true"></span>
                            </div>
                            <div class="footer-accordions__content">
                                <div class="footer-accordions__links"><a href="#"
                                        class="footer-links__item">About Us</a><a href="/subscription.html"
                                        class="footer-links__item">Subscribe</a><a href="/careers.html"
                                        class="footer-links__item">Affiliates</a><a href="faq.html"
                                        class="footer-links__item">FAQ's</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__column footer__column--newsletter">

                <div class="newsletter">
                    <div class="newsletter__titles">
                        <h2 class="newsletter__title">Get 15% off on your booking!</h2>
                        <p class="newsletter__subtitle">Sign up to our newsletter and get a chance to win
                            15% off on your booking.</h2>
                        <div>
                            <form id="email_signup" class="newsletter-form"
                                action="#" method="GET"
                                target="_blank" novalidate="novalidate">
                                <input type="hidden" name="g" value="RLeEEn">
                                <input type="hidden" name="$fields" value="email">
                                <input type="hidden" name="$list_fields" value="web">
                                <div class="newsletter-form__field">
                                    <input class="newsletter-form__input" type="email" value="" name="email"
                                        id="k_id_email" placeholder="Enter Your Email Here" />
                                    <button type="submit" class="newsletter-form__button">
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.9199 0L11.0398 0.990991L13.728 4.29054H0V5.73198H13.704L11.0398 9.00901L11.9199 10L16 5L11.9199 0Z"
                                                fill="#262626" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="newsletter-form__messages">
                                    <div class="newsletter-form__success-message" style="display:none;">
                                        <p class="newsletter-form__thankyou">Thank you for signing up! 🙏
                                        </p>
                                    </div>
                                    <div class="newsletter-form__error-message" style="display:none;"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyrights">
            <div class="footer-copyrights__claim-wrapper">
                <p class="footer-copyrights__claim">*All pictures are shown for illustration purpose only, actual product may vary due to product enhancement.</p>
            </div>
        </div>
        <div class="footer-copyrights__columns">
            <div class="footer-copyrights__company">© Stadorm, 2021. All Rights Reserved.</div>
            <div class="footer-copyrights__legals">
                <a class="footer-copyrights__legal" href="#">Terms of Use</a>
                <a class="footer-copyrights__legal" href="#">Privacy Policy</a>
                <a class="footer-copyrights__legal" href="#">Refund Policy</a>
                <a class="footer-copyrights__legal" href="#">Subscription Policy</a>
            </div>
        </div>
    </div>
</div>
</footer>
</div>
</div>
<script src="/static/js/main.js" defer></script>
</body>
</html>